venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.DS_Store
*.sqlite3
*.db
*.keras
.idea/
.vscode/
.env.*
data/loss_plot.png
data/evaluation.txt
# *.h5
# *.save
!data/model_diabetes.h5
!data/scaler_diabetes.save